*{
  margin: 0;
  padding: 0;
}
.bg-grey {
  background-color: grey;
  padding: 5px;
  list-style: none;
  margin: 5px 0;
}
h1{
  color: blue;}

.headerInline>ul>li{display: inline-block; padding: 15px;}

.headerInline>ul>li>h3{margin-right: 510px;}

.active{
  text-decoration: underline;
  color:green;
  font-weight: 600active;
  text-decoration-color: brown;
  font-size: 5mm;
 }

.productContainer {
     display: flex;
     flex-wrap: wrap;
 }
 .productContainer>.link {
     align-items: center;
     text-align: center;
     width: 300px;
     box-shadow: 0 0 10px #463636;
     margin: 10px;
 }

 .productContainer>.link:hover {
     background-color: rgb(195, 195, 228);
 }

.containerItem {
  max-width: xl;
  background-color: cornsilk;
  margin-top: 10px;
}
.main-footer{
     background-color: skyblue;
     position: relative;
     padding-top: .5cm;
     bottom: 0;
     width: 100%;
}
.contactDiv{
     background-color: white;
     text-align: center;
}

.butalig{
  color: blue !important;
  
}